html, body {
    height: 100%;
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: fit-content;
    background-color: hsl(0, 0%, 95%);
}

#display {
    border: 1px solid;
    background-color: #fff;
}

.error {
    font-size: 13px;
    text-align: right;
    height: 21px;
    overflow: hidden;
    margin: 0;
    padding: 0.25rem;
    background: #fff;
    color: #787878;
    user-select: none;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: right;
    border: none;
    outline: none;
}

.buttons {
    width: 100%;
}

button {
    float: left;
    width: 25%;
    height: 50px;
    cursor: pointer;
}

.hide {
    color: #fff;
}

.back-row {
    display: flex;
    align-items: center;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 2px;
}

.title {
    flex: 1;
    margin-left: 1rem;
}

.back {
    width: 25%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-left: 1px solid;
    border-radius: 2px;
    cursor: pointer;
    user-select: none;
}